@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
$lato: 'Lato', sans-serif;

body { font-family: $lato; }

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

$blue: #31b0d5;

.disclaimer {
  font: 10px/12px Arial, sans-serif;
  color: #333;
}

.tag {
  cursor: pointer;
  text-align: center;

  .neutral {
    color: #efefef;
  }
  .love {
    color: #000;
  }
  .hate {
    color: #ff0000;
  }
}

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

span.disclaimer {
	clear: both;
	display: block;
}