.positions-wrapper {
  @include columns(9);
}

.drafted-wrapper {
  @include columns(3);
}

.position-wrapper {
  @include columns(12);
  margin-bottom: 30px;
  padding: 0 20px;

  .table-wrapper {
    background-color: #ededed;
    height: 400px;
    width: 100%;
    //overflow-x: scroll;
    overflow: auto;

    table { width: 100%; }

    tr.tier-1 { background-color: #bdffe9; }
    tr.tier-2 { background-color: #bbffa6; }
    tr.tier-3 { background-color: #fff69a; }
    tr.tier-4 { background-color: #ffd3a7; }
    tr.tier-5 { background-color: #ffb4b4; }
    tr.tier-6 { background-color: #9ad2cb; }

		tr:hover {
      background-color: #fff;
      cursor: pointer;
    }
  }

  @media (min-width: 600px) {
    @include columns(6);
  }

  @media (min-width: 900px) {
    @include columns(4);
  }
}

.def-list-wrapper {
  tr {
    th:first-child + th + th { display: none; }
    td:first-child + td + td { display: none; }
  }
}
