
.full-player-list-wrapper {
  @include column(9);
  padding: 0 10px;
}

.drafted-wrapper {
  @include column(3);
  padding: 0 10px;

  ul {
    list-style: none;
    padding-left: 0;
  }
}

#full-player-list {
  th, td {
    font-family: $lato;
    padding: 3px;
  }

  th { cursor: pointer; }

  tr:hover, thead { background-color: #efefef; }

  // .draftpick td { border-bottom: 1px solid red !important; border-top: 1px solid red !important; }

  // th { cursor: pointer; }

  // td.draft {
  //   &:before {
  //     color: #ededed;
  //     content: "\f00c";
  //     font-family: FontAwesome;
  //     font-size: 16px;
  //     position: absolute;
  //   }

  //   &:hover:before {
  //     color: #32CD32;
  //     cursor: pointer;
  //   }
  // }

  // span.sortable {
  //   color: #31b0d5;
  // }

  // .filter-tools {
  //   margin-bottom: 10px;
  // }

  // tr.fade-out { background-color: #eee; }

  // #drafted {
  //   td {
  //     padding: 3px;
  //   }
  // }

  // td { @include noselect; }
}
