.container {
  margin: 0 auto;
  width: 90%;
  min-width: 800px;

  &:after, &:before {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin columns($size) {
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
  width: 100%;

  @media screen and (min-width: 700px) {
    width: 100% * ($size/12);
  }
}

