body {
  margin: 0;
}

header {
  background-color: $blue;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;

  a, a:hover, a:active, a:visited {
    color: #fff;
  }

  h1, h3 {
    font-family: $lato;
    margin-top: 0;
  }
}

footer {
  background-color: #ededed;
  color: #ccc;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;

  span { display: block; }
}

.modal {
  table {
    td, th { padding: 0 5px; }
  }
}
