#draft-settings {
	@include columns(12);
	margin-bottom: 20px;
	
	&.hidden {
		height: 0;
		overflow: hidden;
		transition: 1s;
	}
}

#draftable-player-list-wrapper {
  @media (min-width: 900px) {
    @include columns(5);
  }
	
	#draftable-player-list {
		tr:hover {
			background-color: #ededed;
			cursor: pointer;
		}
		td { text-align: center; }
	}
	
	.picked {
		display: none;
	}
}

#your-team-wrapper {
  @media (min-width: 900px) {
    @include columns(3);
  }
}

#drafted-wrapper {
  @media (min-width: 900px) {
    @include columns(2);
  }
}

#drafted-wrapper ul, #team {
	list-style: none;
	padding-left: 5px;
	
	li { margin-bottom: 5px; }
}

#draftable-player-list-wrapper, #drafted-wrapper {
	max-height: 500px;
	overflow: scroll;
}