#draft-settings {
	@include columns(12);
}

#draftable-player-list-wrapper {
  @media (min-width: 900px) {
    @include columns(6);
  }
	
	#draftable-player-list {
		tr:hover {
			background-color: #ededed;
			cursor: pointer;
		}
		td { text-align: center; }
	}
}

#your-team-wrapper, #drafted-wrapper {
  @media (min-width: 900px) {
    @include columns(2);
  }
}