<div ng-controller="CustomListController" id="custom-list">
  <div class="row">
    <div class="col-xs-12">
      <a ng-click="clearCustomRank()" style="cursor: pointer;">Reset Custom Rank</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <ul ui-sortable="sortableOptions" ng-model="players">
        <li>
          <span class="first">Sort</span>
          <span class="second">FP Rank</span>
          <span class="third">Name</span>
          <span class="fourth">Bye Week</span>
          <span class="fourth">Position</span>
          <span class="fifth" data-toggle="tooltip" data-placement="top" title="Click once to love a player, click again to hate a player, click again to reset to neutral">Tag</span>
          <span class="fifth" data-toggle="tooltip" data-placement="top" title="Click when a player has been drafted to add to draft history">Draft</span>
        </li>
        <!-- orderBy:['customSort', 'rankings'] -->
        <li ng-repeat="player in players" ng-hide="player.drafted">
          <span class="first"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
          <span class="second">{{ player.rank }}</span>
          <span class="third"><a ng-href="http://games.espn.go.com/ffl/tools/projections?display=alt&avail=-1&search={{ player.name | lastNameUrl }}" target="_blank">{{ player.name }}</a></span>
          <span class="fourth">{{ player.bye_week }}</span>
          <span class="fourth">{{ player.position | uppercase }}</span>
          <span ng-click="tagPlayer(player)" class="tag fifth">
            <i class="fa fa-circle-thin neutral" aria-hidden="true" ng-show="player.tag == 0"></i>
            <i class="fa fa-star love" ng-show="player.tag == 1"></i>
            <i class="fa fa-exclamation-triangle hate" ng-show="player.tag == 2"></i>
          </span>
          <span ng-click="draftPlayer(player)" class="fifth draft"></span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-3">
      <ng-include src="'partials/drafted.html'"></ng-include>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span class="disclaimer">Standard league ranking data from FantasyPros. Updated: July 29, 2016</span>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
