#draft-settings {
	//@include columns(12);
	margin-bottom: 20px;
	
	&.hidden {
		height: 0;
		overflow: hidden;
		transition: 1s;
	}
  
  #format {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

#draftable-player-list-wrapper {
  @media (min-width: 900px) {
    @include columns(7);
  }
	
	tr:hover {
		background-color: #ededed;
		cursor: pointer;
	}
  
	td { text-align: center; }
  
  section { margin-bottom: 40px; }
  
  #full-list {
    h3 { border-bottom: 1px solid #333; }
    
    .table-wrapper {
      //background-color: #ededed;
      height: 200px;
      overflow: scroll;
    }
    
    table { width: 100%; }
  }
  
  section.position {
    h3 { border-bottom: 1px solid #333; }
    
    @media (min-width: 900px) {
      @include columns(6);
    }
    
    .table-wrapper {
      background-color: #ededed;
      height: 400px;
      overflow: scroll;
    }
    
    table { width: 100%; }
    
    tr.tier-1 { background-color: #bdffe9; }
    tr.tier-2 { background-color: #bbffa6; }
    tr.tier-3 { background-color: #fff69a; }
    tr.tier-4 { background-color: #ffd3a7; }
    tr.tier-5 { background-color: #ffb4b4; }
    tr.tier-6 { background-color: #9ad2cb; }
  }
}

.fadeOut {
	opacity: 0;
	transition: .5s;
	
	&.hidden { display: none; }
}

#your-team-wrapper {
  h3 { border-bottom: 1px solid #333; }
  @media (min-width: 900px) {
    @include columns(3);
  }
}

#drafted-wrapper {
  h3 { border-bottom: 1px solid #333; }
  @media (min-width: 900px) {
    @include columns(2);
  }
}

#drafted-wrapper ul, #team {
	list-style: none;
	padding-left: 5px;
	
	li { margin-bottom: 5px; }
}

#drafted-wrapper {
	max-height: 500px;
	overflow: scroll;
}

#draft-progress, #draft-settings {
	text-align: center;
}

.eligible {
	color: green;
	transition: .2s;
}