header {
  background-color: #246959;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center; }
  header a, header a:hover, header a:active, header a:visited {
    color: #fff; }
  header h1, header h3 {
    margin-top: 0; }

header + .container {
  min-height: 500px; }

footer {
  background-color: #ededed;
  color: #ccc;
  padding: 20px 0;
  text-align: center; }
  footer span {
    display: block; }

#full-list .draftpick td {
  border-bottom: 1px solid red !important;
  border-top: 1px solid red !important; }

#full-list th {
  cursor: pointer; }

#full-list td.draft:before {
  color: #ededed;
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute; }

#full-list td.draft:hover:before {
  color: #32CD32;
  cursor: pointer; }

#full-list span.sortable {
  color: #31b0d5; }

#full-list .filter-tools {
  margin-bottom: 10px; }

#full-list .disclaimer {
  font: 10px/12px Arial, sans-serif;
  color: #333; }

#full-list tr.fade-out {
  background-color: #eee; }

#full-list #drafted h2 {
  font-size: 16px; }

#full-list #drafted td {
  padding: 3px; }

#full-list td {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.modal table td, .modal table th {
  padding: 0 5px; }

#custom-list ul {
  list-style: none; }
  #custom-list ul li {
    padding: 3px 0; }
    #custom-list ul li:hover {
      background-color: #efefef; }
    #custom-list ul li:first-child:hover {
      background-color: #fff; }
    #custom-list ul li span {
      display: inline-block;
      text-align: center;
      width: 19%; }
      #custom-list ul li span:first-child {
        cursor: pointer; }
      #custom-list ul li span.draft {
        height: 20px; }
      #custom-list ul li span.first {
        width: 10%; }
      #custom-list ul li span.second {
        width: 10%; }
      #custom-list ul li span.third {
        width: 55%; }
      #custom-list ul li span.fourth {
        width: 10%; }
      #custom-list ul li span.fifth {
        width: 10%; }

#custom-list span.draft:before {
  color: #ededed;
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute; }

#custom-list span.draft:hover:before {
  color: #32CD32;
  cursor: pointer; }
