<h2>Drafted</h2>
<div class="row">
  <button id="undoDraft" class="btn btn-warning pull-left" ng-click="undraftLastPlayer()">Undo Last</button>
  <button id="resetDraft" class="btn btn-danger pull-right" ng-click="undraftPlayers()">Reset</button>
</div>
<table>
  <tr ng-repeat="player in selected | reverse" ng-click="undraftPlayer()" ng-show="player.drafted">
    <td>{{ selected.length - $index }}</td>
    <td>{{ player.position | shortPosition }}</td>
    <td>{{ player.name }}</td>
  </tr>
</table>
