<!DOCTYPE html>
<html>
  <head>
    <title>Draft Dominator</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
      tr.wr { background: #dff0d8; }
      tr.rb { background: #d9edf7; }
      tr.te { background: #fcf8e3; }

    </style>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-app="draftApp">
    <div class="container" ng-controller="PlayerListController">
      <div class="row">
        <div class="col-xs-12">
          <h1>Fantasy Football Draft Tool</h1>
          <span class="quote">"However beautiful the strategy, you should occassionally look at the results. - Churchill"</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <table class="table">
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Position</th>
              <th>Team</th>
              <th>Profile</th>
            </tr>
            <tr ng-repeat="player in players" class="{{ player.position }}">
              <td>{{ $index + 1 }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.position | uppercase }}</td>
              <td>{{ player.team }}</td>
              <td>
                <a ng-if="player.fftoday" href="{{ player.fftoday }}" target="_blank">FF Today</a>
                <a ng-if="player.rotoworld" href="{{ player.rotoworld }}" target="_blank">Rotoworld</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
