#position {
  padding-bottom: 60px;

  h2 {
    font-size: 14px;
  }

  ul.position-list {
    height: 300px;
    list-style: none;
    overflow: scroll;
    padding: 0;

    li {
      overflow: hidden;

      span {
        display: block;
        float: left;
        //position: relative;

        &:first-child {
          display: inline-block;
          text-align: left;
          width: 30px;
        }

        &.name {
          width: 110px;
        }

        &.vital-stats {
          &:hover:before {
            background-color: #222;
            background-color: rgba(#222, .8);
            color: #fff;
            content: 'High Rank / Low Rank / ADP ';
            display: block;
            height: 20px;
            margin-left: -120px;
            margin-top: -20px;
            position: absolute;
            text-align: center;
            width: 240px;
            z-index: 10;
          }
        }

        &.draft {
          cursor: pointer;
          float: right;
          width: 40px;

          &:before {
            color: #ededed;
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 16px;
            position: relative;
          }

          &:hover:before {
            color: #32CD32;
          }
        }
      }
    }
  }
}
