@import 'mixins';

$spartan-green: #246959;

header {
  background-color: $spartan-green;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;

  a, a:hover, a:active, a:visited {
    color: #fff;
    text-decoration: none;
  }

  h1, h3 { margin-top: 0; }
}

header + .container { min-height: 500px; }

footer {
  background-color: #ededed;
  color: #ccc;
  padding: 20px 0;
  text-align: center;

  span { display: block; }
}

#full-list {
  .draftpick td { border-bottom: 1px solid red !important; border-top: 1px solid red !important; }

  th { cursor: pointer; }

  td.draft:hover {
    cursor: pointer;
    &:before {
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 16px;
      position: absolute;
    }
  }

  span.sortable {
    color: #31b0d5;
  }

  .filter-tools {
    margin-bottom: 10px;
  }

  .disclaimer {
    font: 10px/12px Arial, sans-serif;
    color: #333;
  }

  tr.fade-out { background-color: #eee; }

  #drafted {
    h2 {
      font-size: 16px;
    }

    td {
      padding: 3px;
    }
  }

  td { @include noselect; }
}

.modal {
  table {
    td, th { padding: 0 5px; }
  }
}

#custom-list {
  ul {
    list-style: none;
    li {
      cursor: pointer;
      padding: 3px 0;
      &:hover { background-color: #ededed; }
      &:first-child:hover { background-color: #fff; }

      span {
        display: inline-block;
        text-align: center;
        width: 24%;

        &.draft {
          height: 20px;
        }
      }
    }

  }

  span.draft:hover {
    cursor: pointer;
    &:before {
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 16px;
      position: absolute;
    }
  }

}
